html{
    background-color: #EAEDF1;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 1351px;
    margin: 15px auto;
    padding-top: 83px;
}

.whiteBlock
{
    background-color: white;
    border-radius: 3px;
}

.grayBlock
{
    background-color: #DBE1E8; 
    border-radius: 3px;
}

/* хедер левый блок */
.person{
    float: left;
    width: 434px;
    height: 295px; 
    margin-left: 2px;
}

.personPhoto{
  width: 146px;
  height: 146px;
  float: left;
  margin-top: 36px;
  margin-left: 26px;
  overflow: hidden;
  border-radius: 50%;
}

.personName{
    font-family: 'Signika', sans-serif;
    font-size: 30px;
    float: right;
    margin-top: 77px;
    margin-right: 32px;
    color: #34495E;
}

.personLoc{
    font-size: 17px;
    margin-top: 3px;
    margin-left: 2px;
    font-family: 'Lato', sans-serif;
}

.personDetail{
    padding-left: 1px;
    padding-top: 35px;
    display: inline-block;
    vertical-align: bottom;
}

.personDetailBlock{
    width: 108px;
    height: 78px;
    font-size: 14px;
    color: white;
}

.personDetailBlock1{
    background-color: #25C4EB;
    float: left;
}

.personICO{
    float: left;
    width: 32px;
    height: 32px;
    background: #25C4EB url("img/smallICO.png") no-repeat;
}

.circleICO{
    margin-left: 37px;
    margin-top: 11px;
    background-position: 0 0;
}

.ans{
    position: absolute;
    margin-left: 30px;
    margin-top: 43px;
}

.flagICO{
    margin-left: 36px;
    margin-top: 9px;
    background-position: -32px 0;
}

.fran{
    position: absolute;
    margin-left: 14px;
    margin-top: 43px;
}

.carICO{
    margin-left: 38px;
    margin-top: 11px;
    background-position: -64px 0;
}

.permis{
    position: absolute;
    margin-left: 23px;
    margin-top: 43px;
}

.cigaretteICO{
    margin-left: 39px;
    margin-top: 11px;
    background-position: -96px 0;
}

.non{
    position: absolute;
    margin-left: 38px;
    margin-top: 43px;
}

.personDetailBlock2{
    background-color: #F85153;
    float: left;
}

.personDetailBlock3{
    background-color: #21CDC1;
    float: left;
}

.personDetailBlock4{
    background-color: #34495E;
    float: left;
}

/* хедер правый блок */
.info{
    float: right;
    width: 825px;
    height: 295px;
    margin-right: 2px;
    color: #34495E;
}

.infoHeader{
    font-family: 'Signika', sans-serif;
    font-size: 38px;
    padding-top: 43px;
    padding-left: 30px;
}

.infoText{
    font-size: 17px;
    width: 400px;
    min-height: 120px;
    float: left;
    padding-top: 10px;
    padding-left: 33px;
    word-spacing: 5px;
    line-height: 30px;
}

.infoTextSpan{
   color: #20A8C9;
}

.infoWeb{
    width: 300px;
    min-height: 120px;
    float: right;
    padding-top: 16px;
    padding-right: 12px;
    font-family: 'Signika', sans-serif;
    font-size: 23px;
}

.infoSite{
    padding-top: 16px;
    letter-spacing: 2px;
    color: #F85153;
}

.hr1{
    width: 273px;
    margin: 31px 1px;
	padding: 0px;
	height: 0;
	border: none;
	border-top: 1px solid #788695;
}

.infoSocial{
    padding-top: 151px;
    margin-left: 24px;
}

.social{
    display: inline-block;
    width: 32px;
    height: 32px;
    background: white url("img/smallICO.png") no-repeat;
}

.social-tw{
    background-position: 0px -32px;
    margin-right: 37px;
}

.social-2{
    background-position: -32px -32px;
    margin-right: 42px;
}

.social-3{
    background-position: -64px -32px;
    margin-right: 40px;
}

.social-inst{
    background-position: -96px -32px;
    margin-right: 39px;
}

.social-5{
    background-position: -128px -32px;
    margin-right: 35px;
}

.social-6{
    background-position: -160px -32px;
}

/* мишура */
.overflow{
    overflow:hidden;
}

.checkMark{
    width: 18px;
    height: 18px;
    background: white url("img/smallICO.png") no-repeat;
    background-position: 0px -64px;
}

.locaMark{
    width: 32px;
    height: 32px;
    background: white url("img/smallICO.png") no-repeat;
    background-position: -128px 0px;
}

.locaMarkStyle2{
    background-position: -192px 0px;
}

.reloadIco{
    width: 32px;
    height: 32px;
    background: white url("img/smallICO.png") no-repeat;
    background-position: -160px 0px;
}

.reloadIcoStyle2{
    background-position: -224px 0px;
}

.btn{
    width: 217px;
    height: 29px;
    background-color: #25C4EB;
    border-radius: 3px;
    padding-top: 10px;
    text-align: center;
}

.btnStyle2{
    background-color: #B0BBCA;
}

.btnStyle3{
    background-color: #21CDC1;
}

.blockSite{
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    font-size: 17px;
    color: white;
}

.blockSiteStyle2{
    font-size: 15px;
}

/* звезды */
.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
    font-size: 13px;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 3px;
	cursor: pointer;
	color: #B7BBC2;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}

/* левая колонка */
.column1{
    float: left;
    width: 635px;
    margin-top: 5px;
    margin-left: 2px;
}

/* первый блок */
.block1{
    width: 634px;
    height: 339px;
    margin-top: 33px;
}

.block1Title{
    padding-top: 28px;
    padding-left: 25px;
}

.block1TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}

.block1TitlePhrase2{
    margin-left: 11px;
    color: #9EA7B4;
    font-size: 17px;
    word-spacing: 2px;
}

.block1TitlePhrase3{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 21px;
    color: #18BCA6;
}

.checkMark1{
    float: left;
    margin-left: 28px;
    margin-top: 31px;
}

.checkMarkString1{
    float: right;
    margin-right: 52px;
    margin-top: 31px;
}

.checkMark2{
    float: left;
    margin-left: 28px;
    margin-top: 17px;
}

.checkMarkString2{
    float: right;
    margin-right: 51px;
    margin-top: 15px;
}

.checkMark3{
    float: left;
    margin-left: 28px;
    margin-top: 14px;
}

.checkMarkString3{
    float: right;
    margin-right: 128px;
    margin-top: 15px;
}

.checkMark4{
    float: left;
    margin-left: 28px;
    margin-top: 15px;
}

.checkMarkString4{
    float: right;
    margin-right: 107px;
    margin-top: 15px;
}

.locaMark1{
    float: left;
    margin-left: 17px;
    margin-top: 46px;
}

.locaName1{
    float: left;
    margin-top: 49px;
    color: #9EA7B4;
}

.reloadIco1{
    float: left;
    margin-left: 43px;
    margin-top: 44px;
}

.block1date{
    float: left;
    margin-top: 49px;
    color: #9EA7B4;
}

.btn1{
    float: left;
    margin-top: 41px;
    margin-left: 74px;
}

/* второй блок */
.block2{
    width: 634px;
    height: 322px;
    margin-top: 33px;
}

.block2Title{
    padding-top: 27px;
    padding-left: 24px;
}

.block2TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}

.block2TitlePhrase2{
    margin-left: 11px;
    color: #9EA7B4;
    font-size: 17px;
    word-spacing: 2px;
}

.block2TitlePhrase3{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 21px;
    color: #18BCA6;
}

.checkMark5{
    float: left;
    margin-left: 28px;
    margin-top: 22px;
}

.checkMarkString5{
    float: left;
    margin-top: 17px;
    margin-left: 9px;
}

.checkMark6{
    float: left;
    margin-left: 28px;
    margin-top: 14px;
}

.checkMarkString6{
    float: left;
    margin-top: 11px;
    margin-left: 9px;
}

.checkMark7{
    float: left;
    margin-left: 28px;
    margin-top: 14px;
}

.checkMarkString7{
    float: left;
    margin-top: 12px;
    margin-left: 9px;
}

.checkMark8{
    float: left;
    margin-left: 28px;
    margin-top: 15px;
}

.checkMarkString8{
    float: left;
    margin-top: 14px;
    margin-left: 9px;
}

.locaMark2{
    float: left;
    margin-left: 18px;
    margin-top: 42px;
}

.locaName2{
    float: left;
    margin-top: 48px;
    color: #9EA7B4;
}

.reloadIco2{
    float: left;
    margin-left: 36px;
    margin-top: 44px;
}

.block2date{
    float: left;
    margin-top: 49px;
    margin-left: 9px;
    color: #9EA7B4;
}

.btn2{
    float: left;
    margin-top: 39px;
    margin-left: 86px;
}

/* третий блок */
.block3{
    width: 634px;
    height: 169px;
    margin-top: 34px;
}

.block3Title{
    padding-top: 28px;
    padding-left: 23px;
}

.block3TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}

.block3TitlePhrase2{
    margin-left: 6px;
    color: #9EA7B4;
    font-size: 17px;
    word-spacing: 2px;
}

.block3TitlePhrase3{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 21px;
    color: #18BCA6;
}

.locaMark3{
    float: left;
    margin-left: 17px;
    margin-top: 26px;
}

.locaName3{
    float: left;
    color: #9EA7B4;
    margin-top: 33px;
}

.reloadIco3{
    float: left;
    margin-left: 42px;
    margin-top: 28px;
}

.block3date{
    float: left;
    color: #9EA7B4;
    margin-top: 33px;
}

.btn3{
    float: left;
    margin-top: 23px;
    margin-left: 69px;
}

/* четвертый блок */
.block4{
    width: 634px;
    height: 169px;
    margin-top: 32px;
}

.block4Title{
    padding-top: 28px;
    padding-left: 23px;
}

.block4TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 25px;
}

.block4TitlePhrase2{
    margin-left: 6px;
    color: #9EA7B4;
    font-size: 17px;
    word-spacing: 2px;
}

.block4TitlePhrase3{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 1px;
    font-size: 21px;
    color: #18BCA6;
}

.locaMark4{
    float: left;
    margin-left: 17px;
    margin-top: 26px;
}

.locaName4{
    float: left;
    color: #9EA7B4;
    margin-top: 32px;
}

.reloadIco4{
    float: left;
    margin-left: 65px;
    margin-top: 27px;
}

.block4date{
    float: left;
    color: #9EA7B4;
    margin-top: 32px;
}

.btn4{
    float: left;
    margin-top: 21px;
    margin-left: 50px;
}

/* timeline */
.timeLine{
    float: left;
    width: 72px;
    height: 1174px;
    margin-top: 37px;
    margin-left: 4px;
    position:relative;
}

.line{
    width: 6px;
    height: 1140px;
    margin-left: 33px;
    margin-top: 1px;
    border-radius: 1px;
    position:absolute;
    background-color: #DBE1E8;
}

.dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position:absolute;
    z-index: 1;
    margin-left: 26px;
}

.dot1{
    margin-top: 161px;
    background-color: white;
}

.dot2{
    margin-top: 260px;
    background-color: #DBE1E8;
}

.dot3{
    margin-top: 465px;
    background-color: #DBE1E8;
}

.dot4{
    margin-top: 524px;
    background-color: white;
}

.dot5{
    margin-top: 665px;
    background-color: #DBE1E8;
}

.dot6{
    margin-top: 802px;
    background-color: white;
}

.dot7{
    margin-top: 885px;
    background-color: #DBE1E8;
}

.dot8{
    margin-top: 1000px;
    background-color: white;
}

.dot9{
    margin-top: 1045px;
    background-color: #DBE1E8;
}

.bottomTable{
    bottom: 0px;
    width: 72px;
    height: 35px;
    border-radius: 3px;
    position:absolute;
    z-index: 1;
    background-color: #DBE1E8;
}

.bottomTableData{
    color: white;
    text-align: center;
    margin-top: 3px;
    font-size: 22px;
}

/* вторая колонка */
.column2{
    float: right;
    width: 626px;
    margin-top: 4px;
}

/* пятый блок */
.block5{
    width: 626px;
    height: 170px;
    margin-top: 33px;
}

.block5Title{
    padding-top: 28px;
    padding-left: 23px;
}

.block5TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 23px;
}

.block5TitlePhrase2{
    margin-left: 8px;
    color: #9EA7B4;
    font-size: 15px;
    word-spacing: 2px;
}

.block5TitlePhrase3{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 2px;
    font-size: 18px;
    color: #18B9D7;
}

.locaMark5{
    float: left;
    margin-left: 14px;
    margin-top: 29px;
}

.locaName5{
    float: left;
    color: #34495E;
    margin-top: 40px;
    font-size: 12px;
}

.reloadIco5{
    float: left;
    margin-left: 59px;
    margin-top: 32px;
}

.block5date{
    float: left;
    color: #34495E;
    margin-top: 40px;
    font-size: 13px;
}

.btn5{
    float: left;
    margin-top: 28px;
    margin-left: 83px;
}

/* шестой блок */
.block6{
    width: 626px;
    height: 170px;
    margin-top: 32px;
}

.block6Title{
    padding-top: 29px;
    padding-left: 23px;
}

.block6TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 23px;
}

.block6TitlePhrase2{
    margin-left: 8px;
    color: #9EA7B4;
    font-size: 15px;
    word-spacing: 2px;
}

.block6TitlePhrase3{
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 2px;
    font-size: 18px;
    color: #18B9D7;
}

.locaMark6{
    float: left;
    margin-left: 14px;
    margin-top: 31px;
}

.locaName6{
    float: left;
    color: #34495E;
    margin-top: 42px;
    font-size: 12px;
}

.reloadIco6{
    float: left;
    margin-left: 59px;
    margin-top: 33px;
}

.block6date{
    float: left;
    color: #34495E;
    margin-top: 41px;
    font-size: 13px;
}

.btn6{
    float: left;
    margin-top: 28px;
    margin-left: 75px;
}

/* --//-- */
.hr2{
    border-top: 3px dotted #C5CCD6;
    margin-top: 34px;
}

/* седьмой блок */
.block7{
    width: 626px;
    height: 128px;
    margin-top: 31px;
}

.block7Title{
    padding-top: 29px;
    padding-left: 23px;
}

.block7TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 23px;
}

.block7TitlePhrase2{
    margin-left: 8px;
    color: #9EA7B4;
    font-size: 15px;
    word-spacing: 2px;
}

.block7TitlePhrase3{
    color: #18BCA6;
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 2px;
    font-size: 18px;
}

.locaMark7{
    float: left;
    margin-left: 14px;
    margin-top: 6px;
}

.locaName7{
    float: left;
    color: #34495E;
    margin-top: 16px;
    font-size: 12px;
}

.reloadIco7{
    float: left;
    margin-left: 60px;
    margin-top: 8px;
}

.block7date{
    float: left;
    color: #34495E;
    margin-top: 16px;
    font-size: 13px;
}

.star-rating1{
    float: left;
    margin-left: 209px;
    margin-top: 19px;
}

/* восьмой блок */
.block8{
    width: 626px;
    height: 130px;
    margin-top: 32px;
}

.block8Title{
    padding-top: 29px;
    padding-left: 23px;
}

.block8TitlePhrase1{
    color: #34495E;
    font-family: 'Signika', sans-serif;
    font-size: 23px;
}

.block8TitlePhrase2{
    margin-left: 8px;
    color: #9EA7B4;
    font-size: 15px;
    word-spacing: 2px;
}

.block8TitlePhrase3{
    color: #18BCA6;
    font-family: 'Signika', sans-serif;
    padding-left: 22px;
    padding-top: 2px;
    font-size: 18px;
}

.locaMark8{
    float: left;
    margin-left: 14px;
    margin-top: 4px;
}

.locaName8{
    float: left;
    color: #34495E;
    margin-top: 16px;
    font-size: 12px;
}

.reloadIco8{
    float: left;
    margin-left: 41px;
    margin-top: 7px;
}

.block8date{
    float: left;
    color: #34495E;
    margin-top: 14px;
    font-size: 13px;
}

.star-rating2{
    float: left;
    margin-left: 209px;
    margin-top: 17px;
}

/* девятый блок */
.block9{
    width: 626px;
    height: 401px;
    margin-top: 34px;
    background-color: white; 
}

.hobbies{
    padding-top: 16px;
    padding-left: 19px;
}

.hobbiesICO{
    display: inline-block;
    width: 78px;
    height: 78px;
    background: white url("img/bigICO.png") no-repeat;
}

.web{
    background-position: 0 0;
    margin-right: 21px;
}

.mov{
    background-position: -78px 0;
    margin-right: 22px;
}

.aud{
    background-position: -156px 0;
    margin-right: 21px;
}

.fas{
    background-position: 0 -78px;
    margin-right: 22px;
}

.foo{
    background-position: -78px -78px;
    margin-right: 22px;
}

.fly{
    background-position: -156px -78px;
}

.inline{
    display: inline-block;
}

.hobbiesDescr{
    padding-top: 2px;
}

.hobbiesTitle
{
    color: #34495E;
    font-size: 12px;
}

.WEBADDICT{
    margin-left: 21px;
}

.SÉRIVORE{
    margin-left: 35px;
}

.MÉLOMANE{
    margin-left: 36px;
}

.FASHIONISTA{
    margin-left: 26px;
}

.EPICURIENNE{
    margin-left: 22px;
}

.VOYAGEUSE{
    margin-left: 25px;
}

/* processbar */
.barfiller {
    width: 270px;
    height: 14px;
    background: #DBE1E8;
    border-radius: 5px;
    position: relative;
}
  
.barfiller .fill {
    border-radius: 5px;
    display: block;
    position: relative;
    width: 0px;
    height: 100%;
    background: #333;
    z-index: 1;
}
  
.barfiller .tipWrap { display: none; }
  
.barfiller .tip {
    border-radius: 5px;
    margin-top: -25px;
    padding: 3px 9px;
    font-family: 'Signika', sans-serif;
    font-size: 10px;
    color: #F5F6F6;
    left: 0px;
    position: absolute;
    z-index: 2;
    background: #333;
}
  
.barfiller .tip:after {
    border: solid;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: 3px 3px 0 3px;
    content: "";
    display: block;
    position: absolute;
    left: 17px;
    top: 100%;
    z-index: 9
}

.barDescr1{
    margin-top: 44px;
    margin-left: 22px;
    color: #35495E;
}

.descr2{
    margin-left: 241px;
}

.bar1Line{
    margin-top: 2px;
    margin-left: 21px;
}

#bar2{
    margin-left: 48px;
}

.barDescr2{
    margin-top: 13px;
    margin-left: 22px;
    color: #35495E;
}

.descr3{
    margin-left: 246px;
}

.bar2Line{
    margin-top: 3px;
    margin-left: 21px;
}

#bar4{
    margin-left: 48px;
}

.barDescr3{
    margin-top: 15px;
    margin-left: 22px;
    color: #35495E;
}

.descr5{
    margin-left: 239px;
}

#bar6{
    margin-left: 48px;
}

.bar4Line{
    margin-top: 1px;
    margin-left: 21px;
}

#bar8{
    margin-left: 48px;
}

.footer{
    clear: both; 
}

.quotes{
    float: left;
    color: #CED4DD;
    font-family: "Times New Roman", Times, serif;
    font-size: 115px;
    padding-left: 375px;
    padding-top: 21px;
}

.footerPhrase{
    float: left;
    color: #35495E;
    font-size: 18px;
    padding-top: 53px;
    padding-left: 13px;
}

.quotes2{
    float: left;
    color: #CED4DD;
    font-family: "Times New Roman", Times, serif;
    font-size: 115px;
    padding-left: 12px;
    padding-top: 22px;
}